<%= stylesheet_link_tag 'index', media: 'all' %> 


<aside>

<%= link_to "#{@current_user.name.capitalize}", profile_path(:id => @current_user.id) %>

</aside>

<div class = "indexBody">
	<%# <div class = "post"> %>
	<h1>
     <%= "#{@current_user.name.capitalize} #{@current_user.last_name.capitalize}"%>
     </h1>

	<%= form_for(:post, url: :posts) do | f |  %>
			<%= f.label :text, "Que es lo que piensas #{@current_user.name.capitalize}?" %> 
			<%= f.text_area :text %> 
			<%= f.submit "Publicar" %>
		<% end %>
		<%# </div> %>
		
	<div class = "tweet-container">
		<% @post_list.each do |p| %>
		<div class = "tweet-item">
			<h2> <%= @current_user.name.capitalize %> </h2>
			<p> <%= p.text.capitalize %> </p>
			<ul>
			<li>test1</li>
			<li>test2</li>
			
			</ul>

		</div>
	
     	
		<% end%>
		
		
	</div>
</div>
	

<aside>
<%= link_to 'logout', :delete_session, method: :delete %>
</aside>

